body {
    margin: 0;
    font-size: initial;
}

section {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   flex-wrap: nowrap;
   height: 10rem;
   border: 1px solid black;
}

article {
    border: 1px solid grey;
    width: 33%;
}