body {
  margin: 0;
  font-size: initial;
}

section {
  display: flex;
/*  flex-direction: column;*/
/*  justify-content: space-between;*/
/*
  align-items: stretch;
  align-content: stretch;
*/
  flex-wrap: nowrap;
  height: 10rem;
  border: 1px solid black;
}

article {
  border: 1px solid grey;
}

.row {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.column {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}