body {
    margin: 0;
    font-size: initial;
}

section {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   flex-wrap: nowrap;
   height: 10rem;
   border: 1px solid black;
}

article {
    border: 1px solid grey;
    width: 33%;
}

article:last-child {
  align-self: flex-start;
}

/*article:nth-child(even) {
  background-color: yellow;
}*/

article:nth-child(1) { /*Lorem*/
  order: 3;
}

article:nth-child(2) { /*1234*/
  order: 100;
}

article:nth-child(3) { /*machin*/
  order: 4;
}

article:nth-child(4) { /*bloop*/
  order: 1;
}